EMS_UI/node_modules/
EMS_UI/dist/
EMS_UI/.vscode/
EMS_SERVICES/target/
EMS_SERVICES/.vscode/
EMS_SERVICES/.github/
EMS_SERVICES/logs/
EMS_SERVICES/data/
EMS_SERVICES/data/*.db
.vite/
.env
.env.*
!.env.example